/* --- MOBILE CSS ------------------------------------------------------------ */
/* --- MOBILE CSS ------------------------------------------------------------ */
/* --- MOBILE CSS ------------------------------------------------------------ */
/* --- MOBILE CSS ------------------------------------------------------------ */
/* --- MOBILE CSS ------------------------------------------------------------ */

/* LỆNH CHUYỂN LAYOUT KHI MÀN HÌNH CHUYỂN SANG ĐỘ RỘNG NHỎ HƠN 767px */

[class*="col-"] {
  width: 100%;
}

@media (max-width: 767px) {
  /* #banner::after { */
  /* content: "Dành cho Mobile"; */
  /* } */
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    background-color: #c3fae8;
  }
  header {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-rows: auto 52px;
    font-size: 16px;
    height: 600px;

    margin-bottom: 64px;
    position: relative;
  }
  header section {
    margin-bottom: 0;
  }
  h2 a,
  h3 a {
    text-decoration: none;
    color: #087f5b;
    font-weight: 500;
  }

  /* PHẦN BANNER */

  /* Dùng linear-gradient để làm tối ảnh hơn, đẻ nổi nội dung trên ảnh */

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
/*     height: 600px; */
    width: 480px;
  }

  #banner {
    color: #c3fae8;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 48px;

    font-weight: 500;
  }

  /* PHẦN NAVBAR */

  #nav-bar {
    margin-top: 350px;
  }

  nav a {
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    text-decoration: none;
    color: #099268;
  }

  .user,
  .user-2,
  .user-3,
  .user-4 {
    display: flex;

    align-items: center;

    width: 300px;
    height: 72px;
    padding-left: 32px;
    /* border: 1px solid black; */
  }
  .user-info {
    width: 32px;
    height: 32px;
    padding-right: 12px;
    stroke: #099268;
    cursor: pointer;
  }

  #nav-bar {
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* Dùng position để định vị trí, border-radius 50% để bo tròn */

  .avatar {
    display: none;
    width: 180px;
    height: 180px;

    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    justify-self: center;
  }

  /* PHẦN THÔNG TIN CÁ NHÂN */

  #about {
    margin-top: 420px;
  }
  .bg-grey {
    background: #099268;
    width: 480px;
  }

  .target {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 700px;
    align-items: center;
  }
  .target h1 {
    font-size: 30px;
    padding-left: 32px;
    padding-bottom: 32px;
    color: #d4cece;
    font-weight: 500;
  }

  .target p,
  .target li {
    font-size: 16px;
    color: #63e6be;
    line-height: 1.6;
  }

  #target {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    /* border-bottom: 1px solid #63e6be; */
  }

  #target p {
    padding: 0px 32px 0 32px;
  }

  #personal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: #087f5b; */
    height: 600px;
    padding-top: 24px;
    margin-top: 48px;
    border-top: 1px solid #63e6be;
  }

  #personal-info ul {
    padding: 0px 32px 0 32px;
    list-style: none;
  }

  .personal-info-icon {
    font-size: 16px;
    padding-left: 32px;
  }

  section,
  section > .container {
    margin: auto;
  }

  .job-info-6 {
    height: 1480px;
    margin-top: 150px;
  }

  /* PHẦN KỸ NĂNG */

  .container-3 {
    display: grid;
    grid-template-columns: 460px;
    margin-top: -100px;
    padding-left: 32px;
    align-items: start;
    justify-content: center;
  }
  .container-3 h1 {
    font-size: 30px;
    /* color: #087f5b; */
    font-weight: 500;
  }
  .job1,
  .job2 {
    border: 1px solid #fff;
    border-radius: 12px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .kinhnghiem {
    width: 440px;
    height: 600px;
    order: 1;
  }

  .kynang {
    margin-top: 16px;
    width: 440px;
    height: 450px;
    order: 3;
  }
  .ngonngu {
    width: 440px;
    height: 300px;
    order: 6;
    margin-top: 16px;
  }
  .sothich {
    width: 440px;
    height: 300px;
    order: 5;
    margin-top: 16px;
  }
  .hoatdong {
    width: 440px;
    height: 450px;
    order: 4;
    margin-top: 16px;
  }
  .hocvan {
    width: 440px;
    height: 550px;
    order: 2;
    margin-top: 16px;
  }

  ul h2 {
    font-size: 16px;
    color: #099268;
  }

  ul {
    font-size: 14px;
    padding: 0 24px 0 48px;
  }
  ul span {
    display: inline-block;
    padding-bottom: 12px;
    font-style: italic;
  }
  .job1 li {
    padding-bottom: 16px;
    color: #12b886;
  }
  .job-icon {
    transform: scale(2);
    /* color: #087f5b; */
    padding-right: 24px;
    border-radius: 2px;
  }
  .job-icon2 {
    color: #12b886;
  }

  .st-icon-container {
    display: flex;
    gap: 24px;
    padding-right: 24px;
    justify-content: center;
    padding-top: 16px;
  }
  .hientai {
    display: inline-block;
    font-style: italic;
    background-color: #099268;
    width: 64px;
    color: #c3fae8;
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 6px;
  }

  .st-icon {
    width: 52px;
    height: 52px;
    border: 1px solid #12b886;
    border-radius: 50%;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .job-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 48px 24px;
    animation: job-title 10s infinite;
  }

  /* Lệnh đổi màu chữ */

  @keyframes job-title {
    0% {
      color: #087f5b;
    }
    50% {
      color: #099268;
    }
    100% {
      color: red;
    }
  }
  .language {
    font-size: 14px;
    display: grid;
    grid-template-columns: 60px 60px 60px;

    align-items: center;

    padding-left: 32px;
    padding-top: 42px;
  }

  .lang-sp1 {
    width: 48px;
    height: 3px;
    background-color: #12b886;
    margin-bottom: 24px;
  }

  .lang-sp2 {
    width: 48px;
    height: 3px;
    background-color: #63e6be;
    margin-bottom: 24px;
  }

  .lang-TA {
    grid-column: 1/-1;
    padding-bottom: 12px;
    color: #099268;
    font-weight: bold;
  }

  .lang-TN {
    grid-area: 3 / span 3;
    padding-bottom: 6px;
  }

  .skill {
    font-size: 14px;

    display: grid;
    grid-template-columns: 70px 70px 70px;

    align-items: center;

    padding-left: 32px;
  }

  /* Dùng các thuộc tính Grid để chia cột và nối column, row */

  .skill-1 {
    grid-column: 1/-1;
  }

  .skill-2 {
    grid-area: 3 / span 3;
  }

  .skill-3 {
    grid-area: 5 / span 3;
  }

  .skill-4 {
    grid-area: 7 / span 3;
  }

  .skill-5 {
    grid-area: 9 / span 3;
  }

  .skill-1,
  .skill-2,
  .skill-3,
  .skill-4,
  .skill-5 {
    padding-bottom: 10px;
    color: #099268;
    font-weight: bold;
  }

  .skill-sp-1 {
    width: 48px;
    height: 3px;
    background-color: #12b886;
    margin-bottom: 24px;
  }

  .skill-sp-2 {
    width: 48px;
    height: 3px;
    background-color: #63e6be;
    margin-bottom: 24px;
  }

  /* PHẦN GIẢI THƯỞNG */

  #certificate {
    margin-top: 1300px;
  }

  .giaithuong {
    width: 480px;
    height: 900px;
    display: flex;
    flex-direction: column;

    gap: 32px;
    padding-bottom: 32px;
  }
  .giaithuong img {
    width: 215px;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2);
  }

  .giaithuong-title {
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 24px;
  }

  .giaithuong-chitiet-doc {
    background-color: #63e6be;
    width: 440px;
    height: 1px;
    margin-left: 20px;
  }

  .giaithuong-chitiet-ngang {
    background-color: #63e6be;
    width: 440px;
    height: 1px;
    margin-left: 20px;
  }

  .giaithuong-title h2 {
    font-weight: 600;
    color: #d4cece;
  }

  .giaithuong h3 {
    font-size: 14px;
    font-weight: 600;
    color: #c3fae8;
  }

  .giaithuong p {
    font-size: 14px;
    font-weight: 500;
    color: #63e6be;
  }

  .giaithuong-chitiet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-right: 32px;
  }

  /* PHẦN DỰ ÁN */

  #project {
    width: 480px;
    height: 2156px;
    margin-top: 96px;
    margin-bottom: 122px;
  }

  .project {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .project img {
    width: 440px;
  }

  .project-title {
    /* padding-bottom: 32px; */
    margin-left: 36px;
  }

  .project-title h2 {
    font-size: 30px;
    font-weight: 500;
    color: #087f5b;
  }

  .project h3 {
    font-size: 16px;
    font-weight: 500;
    color: #099268;
    display: inline-block;
    padding-left: 16px;
  }

  .project p {
    font-size: 14px;
    font-weight: 500;
    color: #12b886;
  }

  .project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }

  .project-detail img {
    width: 440px;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    border: 1px solid #63e6be;
    border-radius: 6px;
    width: 440px;
  }

  .funix {
    display: grid;
    grid-template-columns: 50px 50px;
    height: 150px;
    align-items: center;
    padding: 16px 0 16px 32px;
    border-top: 1px solid #63e6be;
    border-bottom: 1px solid #63e6be;
  }

  .funix-year {
    font-size: 12px;
    background-color: #099268;
    /* width: 50px; */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #c3fae8;
    margin-right: 16px;
    grid-area: 1/1/1 / span 2;
  }

  .project-content {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 5px 5px;
  }

  .project-nv {
    border-bottom: 1px solid #63e6be;
    border-top: 1px solid #63e6be;
  }

  .funix-icon {
    color: #099268;
  }

  .container-footer {
    width: 480px;
    height: 125px;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .project-pet {
    margin-top: 48px;
  }
  .project-news {
    margin-top: 64px;
  }

  /* PHẦN FOOTER */

  .container-footer a {
    text-decoration: none;
    font-size: 16px;
    color: #63e6be;
  }

  .container-footer i {
    font-size: 32px;
    color: blue;
  }

  .container-footer span {
    position: relative;
    top: 4px;
  }

  .container-footer div {
    padding-bottom: 24px;
  }
}
